// @include bp(mobile) {}
// @include bp(tablet) {}
// @include bp(laptop) {}
// @include bp(desktop) {}
// @include bp(computer) {}


    @mixin bp($point) {

        $mobile: "(min-width: 320px) and (max-width: 480px)";
        $tablet: "(min-width: 481px) and (max-width: 768px)";
        $laptop: "(min-width: 769px) and (max-width: 1024px)";
        $desktop: "(min-width: 1025px) and (max-width: 1200px)";
        $large: "(min-width: 1201px)";
          
        @if $point == mobile {
              @media #{$mobile} { @content; }
            }
        @else if $point == tablet {
                @media #{$tablet} { @content; }
            }
        @else if $point == laptop {
                @media #{$laptop} { @content; }
            }
        @else if $point == desktop {
                @media #{$desktop} { @content; }
            }
        @else if $point == computer {
                @media #{$computer} { @content; }
            }    
        }