@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@import "mixins";

.contact {
    font-family: 'Montserrat', sans-serif;
    font-size: 42px;
    font-weight: 600;
    margin: 20px 30px;
    color: #222831;

    @include bp(mobile) {
        font-size: 32px;
        margin: 20px 10px;
    }

    @include bp(tablet) {
       font-size: 38px; 
       margin: 10px 30px;
    }

}

.container {
    display: flex;



@include bp(mobile) {
    flex-direction: column;
}

@include bp(tablet) {
       flex-direction: column; 
}


    .left {
        max-width: 70%;
        width: 100%;

    @include bp(mobile) {
        max-width: 100%;
    }


    @include bp(tablet) {
       max-width: 100%; 
    }

        
.form  {
    display: flex;
    align-items: center;
    justify-content: center;


    .form_container {
         width: 100%;
         margin: 50px;

         @include bp(mobile) {
              margin: 20px 10px;  
        }


        .info {
            display: flex;
            margin-bottom: 5%;

            @include bp(mobile) {
             flex-direction: column;
            }

            .name {
                width: 50%;

                @include bp(mobile) {
                width: 100%;
                margin-bottom: 10%;
                }

                @include bp(tablet) {
                    margin-bottom: 8%;
                }
            }

            .email {
                width: 50%;

                @include bp(mobile) {
                width: 100%;
                margin-bottom: 10%;
                }

                @include bp(tablet) {
                    margin-bottom: 8%;
                }
            }

            .label {
                font-size: 20px;
                color: #343A40;
                font-weight: 600;
                margin-bottom: 5%;

                @include bp(mobile) {
                font-size: 16px;
                }

                @include bp(tablet) {
                 margin-bottom: 8%;
                }
            }

            input {
                max-width: 80%;
                width: 100%;
                border: none;
                border-bottom: #cbcbcb 1px solid;
                outline: none;
                transition: all 0.3s ease;
                font-size: 16px;
                color:#1b1b1b;

                @include bp(mobile) {
                font-size: 12px;
                max-width: 100%;
                }

                @include bp(tablet) {
                    max-width: 95%;
                    font-size: 14px;
                }

                &:focus {
                    border-bottom: #8DB596 1px solid;
                }

                
            }

            input::placeholder {
                @include bp(mobile) {
                 font-size: 12px;
                }

                @include bp(tablet) {
                    font-size: 14px;
                }
            }
            
        }

        .message {

            .label {
                margin-bottom: 3%;
                font-size: 20px;
                color: #343A40;
                font-weight: 600;

                @include bp(mobile) {
                 font-size: 16px;
                }

               
            }

            textarea {
                width: 100%;
                border: none;
                border-bottom: #cbcbcb 1px solid;
                outline: none;
                transition: all 0.3s ease;
                font-size: 16px;
                color:#1b1b1b;

                @include bp(mobile) {
                 font-size: 12px;
                }

                @include bp(tablet) {
                    font-size: 14px;
                }

                &:focus {
                    border-bottom: #8DB596 1px solid;
                }
            }

            textarea::placeholder {
                @include bp(mobile) {
                    font-size: 12px;
                }
            }

        }

        .button {
            margin: 3% 0;
            align-self: center;

            @include bp(mobile) {
                margin-top: 10%;
            }

            .btn {
                outline: none;
                border: #8DB596 2px solid;
                border-radius: 40px;
                padding: 15px 60px;
                cursor: pointer;
                font-size: 15px;
                transition : all 0.3s ease;
                color: #343A40;
                font-weight: 600;

                @include bp(mobile) {
                padding: 10px 40px;
                font-size: 13px;
                }

                &:hover {
                    background: #8DB596;
                    color: #fff;
                }
            }
        }

    }
   
}
    }

    .right {
        max-width: 30%;
        width: 100%;
        margin: 50px;
        font-family: 'Montserrat', sans-serif;
        color: #1b1b1b;
        display: flex;
        flex-direction: column;

        @include bp(mobile) {
            max-width: 100%;
            margin: 15px 0;
        }

        @include bp(tablet) {
            max-width: 100%;
            margin: 0;
            padding: 0 50px;
        }


        .connect {
            font-size: 38px;
            margin: 20px 0;
            font-weight: 200;

            @include bp(mobile) {
                font-size: 32px;
                font-weight: 300;
            }

            @include bp(tablet) {
                font-weight: 300;
            }

        }
        
        .name, .location, .email {
            font-size: 18px;
            margin: 20px 0;
            font-weight: 600;

            @include bp(mobile) {
                margin: 10px 0;
            }

            @include bp(tablet) {
                margin: 10px 0;
            }

        }

        .socials {
            width: 100%;

            .icons {
                display: flex;
                justify-content: space-between;
                width: 70%;

                @include bp(tablet) {
                    width: 30%;
                }
        
                .icon {
                    color: #524f4f;
                    cursor: pointer;
                    margin-top: 40px;
        
                    &:hover {
                        color: #1b1b1b;
                        transition: all 0.3s ease;
                    }
                }
        
        
            }
        }
    }
}


