@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
@import "mixins";



*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fafafa;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif;
  padding: 50px;

@include bp(mobile) {
  padding: 45px 25px;
}

a {
  text-decoration: none;
}




}

// body {
//   overflow-x: hidden;
//   overflow-y: scroll;
// }