@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');


.stuff {
    padding-bottom: 10px;
    display: flex;
    height: 100vh;

    .left {
        width: 60vw;

        .name {
            font-size: 30px;
            font-weight: 900;
            color: #2d2d2d;
            font-family: 'Montserrat', sans-serif;

        }

        .content {
            padding-top: 10%;
            padding-left: 12%;


            h1 {
                font-size: 48px;
                font-weight: 300;
                font-family: 'Montserrat', sans-serif;
                color: rgb(21, 20, 20);
            }

            .desc {
                padding: 4% 0;
                font-size: 25px;
                max-width: 70%;
                width: 100%;
                font-weight: 200;
                line-height: 38px;
                color: #6f6d6d;
                // font-family: 'Montserrat', sans-serif;
            }
        }


        .btn {
            margin-left: 12%;
            width: 20%;
            height: 50px;
            border-radius: 5px;
            border: #cbcbcb  1px solid;
            display: flex;
            align-items: center;
            justify-content: center;

            .link {
                display: inline-flex;
                align-items: center;
                position: relative;
                cursor: pointer;
                overflow-y: hidden;
 
                 a {
                    font-size: 13px;
                    color: #565353;
                    font-weight: 600;
                    font-family: 'Montserrat', sans-serif;
                 }
    
                        &__inner {
                        display: flex;
                        transform: translateY(0);
                        transition: transform 0.3s ease-out;
    
    
    
                            > span {
                                margin-right: 2px;
    
                             a{
                                 display: inline-block;
                                 
                             }
                        }
    
                            &:hover {
                                transform: translateY(-100%);
                                transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                              }
    
                        }
                        &__animated {
                        position: absolute;
                        top: 100%;
    
                        }
              }

        }

      .email {
          margin-left: 12%;
          padding-top: 10%;

          a {
              color: #185adb;
              font-size: 25px;
              cursor: pointer;
          }
      }  
     
    }






    .right {
        width: 40vw;
        justify-self: center;
    }
}

.card_container {

    display: flex;

    .card {
        width: 25%;
        margin: 30px;
    
        .container {
            padding: 20px;
            border: #cbcbcb  1px solid;
    
            .title {
                font-size: 25px;
                color: #222831;
                margin-bottom: 15px;
                font-weight: 600;
            }
    
            .description {
                font-size: 14px;
                width: 70%;
                color: #484646;
                margin-bottom: 25px;
                line-height: 20px;
            }
    
            .language {
                display: flex;
                margin-bottom: 20px;
    
    
                .lang {
                    color: #302f2f;
                    margin-right: 15px;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
    
            .direct {
                display: flex;
                font-family: 'Montserrat', sans-serif;
    
    
                .live {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    color: #484646;
                    font-size: 14px;
                    margin-right: 25px;
    
                    .icon {
                        margin-right: 3px;
                    }
    
                }
    
    
            }
        }
    }

}



