@import "mixins";

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 70%;

    @include bp(laptop) {
        width: 100%;  
    }
    

    .menu {
        max-width: 100%;
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: all 0.3s ease;
        justify-content: space-evenly;

        @include bp(mobile) {
            height: 80%;
        }

        .part {
            display: flex;
            justify-content: space-between;

            @include bp(mobile) {
                flex-direction: column;
                align-items: center;
            }

        }
        

        .about, .contact {

            @include bp(mobile) {
                margin-bottom: 25px;
            }
        }

        .option {
            overflow-x: hidden;
            font-size: 22px;
            font-weight: 600;
            width: 38%;
            color: #2d2d2d;
            position: relative;
            padding: 10px 15px;
            overflow: hidden;
            cursor: pointer;
            opacity: 1;
            display: flex;
            justify-content: center;
            font-family: 'Montserrat', sans-serif;

            @include bp(mobile) {
                width: 50%;
                align-self: center;
            }



            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                top: 0;
                left:0;
                background: #6f6d6d;
                transform: translateX(-100%);
                transition: all 0.3s ease;

                
            }


            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left:0;
                background: #6f6d6d;
                transform: translateX(100%);
                transition: all 0.3s ease;
            }

            &:hover::before {
                transform: translateX(0%); 
            }

            &:hover::after {
                transform: translateX(0%); 
            }
        }
    }


    .icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 15%;
        width: 80%;

        .icon {
            color: #524f4f;
            cursor: pointer;

            &:hover {
                color: #1b1b1b;
                transition: all 0.3s ease;
            }
        }


    }

  
    .right {
        display: none;

        .hamburger {
            cursor: pointer;

            .line {
                height: 2px;
                width: 20px;
                background:#a6a9b6;
                border-radius: 20px;

            }

            .center-line {
                margin: 5px 0;
                width: 25px;
                transition: all 0.3s ease;
    
            }

            .center-active {
                transform: translateX(-10px);
            }
            
        }
    }
    
  }